// Push content down so the fixed navbar doesn't hide the hero section
.content-wrapper {
    /*padding-top: 20px;*/
}

// Remove the blue outline on the login text button
.no-shadow:focus {
    box-shadow: none;
}